html, body{	height: 100%; min-height: 100%; margin: 0px; padding: 0px; }
p { margin:0px; padding:0px; }
body{
		height: 100%; min-height: 100%; margin: 0px; padding: 0px; font-family: "Courier New";background-image: url("images/fon.png");
		background-size: 100%;
	}
	.description{
		font-family: Segoe Script;
		font-size: 16px;
		color:black;
	}
/*********************************************************************************************************/


/*=============================ВСПЛЫВАЮЩИЕ ПОДСКАЗКИ======================================================*/
#title{
	text-align: center;
	color: red;
}